.vscode/

*.elf
*.hex
sim_bin
sim.log


include/generated_serial_config.h
include/last_fcpu
include/last_build.make
include/last_mcu
include/core/
reports/
sim/pty_slave.txt
sim/sim.pid
src/core/
tests/__pycache__/
tools/__pycache__/

